


body {
    padding:0;
    width:1000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
}
@font-face {
    font-family: codebold;
    src: url(./fonts/code_bold.otf);
}

@font-face {
    font-family: code;
    src: url(./fonts/Code.tff);
}


#navigation {
    font-family: code;
    text-align: center;
    margin: 0 auto;
}


#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("./img/used_multiple_times/bar.png");
    background-size:cover;
}

#navigation li {
    display: inline;
}

#navigation li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding:15px 15px 15px 15px;
    text-decoration: none;
    
}

#navigation li a:hover {
    opacity:0.6;
}

#some_basic_personal_information {
    margin-top:200px;
    height:400px;
    margin: 0 auto;
}

.font_size_13 {
    font-size:13px;
}

.font_size_16 {
    font-size:16px;
    line-height:13px;
}

#text_left_bar {
    margin-top:50px;
    margin-left:50px;
}

#text_laptop {
    font-family: code;
    color:white;
    margin-left:80px;
    margin-top:30px;
}

#font_name_my_name_in_box {
   margin:5px 0px 0px 25px;
   color:white;
}

#my_name_in_box {
    font-size:30px;
    font-family: codebold;
    margin-top:180px;
    margin-right:87px;
    float: right;
    width:200px;
    height:60px;
    background-color: rgba(255, 255, 255, 0.30);
    opacity: 0.6;
}

#left_bar {
    float: left;
    font-family: code;
    color:white;
    margin-top:30px;
    height:300px;
    width:400px;
    background-image: url("./img/header/paint_opacity.png");
    background-repeat: no-repeat;
    background-size: 500px;
}

#right_laptop {
    margin-top: 20px;
    float: left;
    width:600px;
    height:350px;
    background-repeat: no-repeat;
    background-image: url("./img/header/laptop.png");
    background-size:600px;
    margin-left:-100px;
}

#about_me_personal {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
}

#center_of_page {
    margin: 0 auto;
}

.bar {
    text-align: center;
    color:white;
    font-family: code;
    margin-top:-30px;
    height:30px;
    background-repeat: no-repeat;
    background-image: url("./img/used_multiple_times/bar.png");
    background-size:cover;
}

.text {
    padding-top:15px;
}

.photo_of_me {
    float: left;
    margin-top:20px;
    width:150px;
    margin-left: 30px;
    margin-right:40px;
    height: 160px;
    border-radius: 50%;
    background-image: url("./img/header/my_self.png");
    background-repeat: none;
    background-size: cover;
}


.text_about_myself {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width:600px;
    height: 150px;
    margin: 0 auto;
}



.button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    opacity:0.6;
    background-color: white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    opacity: 0.8;
}

.css-typing
{
    color: black;
    font-size: 50px;
    font-family: code;
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 4s steps(50, end);
    animation: type 4s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}


#text_1 {
    margin:20px 0px 0px 30px;
    float: left;
    width:450px;
    height:300px;
    background-color: rgba(0, 0, 0, 0.05);
}

#text_2 {   
    margin:20px 0px 0px 30px;
    width:450px;
    height:300px;
    float: left;
    background-color: rgba(0, 0, 0, 0.05);
}


.normal_text_w_margin {
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top:60px;
    
}

.normal_text_wo_margin {
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top:20px;
}

#footer {
    height:60px;
}

.welcome_to_page {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.welcome_to_page p {
    padding-top:100px;
}

.bar text p {
    padding-top: 20px;
}

.self_background {
    max-width: 150px;
    border-radius: 50%;
    padding:15px;
}