@font-face {
    font-family: code;
    src: url(code.ttf);
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

header .navigation .img {
    background-image: url("./img/header/navigatie_sided.png");
    width:350px;
    height: 950px;
    background-size: cover;
    /* border: 1px solid red; */
}

.ityped {
    font-size: 20px;
    font-family: code;
    color: white;
}
.navigation .photo_of_me {
    width: 50px;
    opacity: 0.7;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navigation .personal_small_info {
    /* border: 1px solid red; */
    padding-bottom:80px;
    width:215px;
}

.navigation .navigation_bar {
    /* border: 1px solid red; */
}

.navigation_info {
    /* border: 1px solid red; */
    width:350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:350px;
}

.block {
    /* background-color: green; */
    display: block;
    padding:5px;
}

header .navigation .info_me {
    margin-top:100px;
    width:215px;
    height: auto;
    /* border: 1px solid red; */
}

header .navigation {
    font-family: code;
    color: white;
    text-align: center;
    margin-top:-150px;
}

body {
    display: flex;
}

main .laptop {
    background-image: url("./img/header/laptop.png");
    width:520px;
    height:280px;
    background-size: cover;
}


.button {
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    background: linear-gradient(rgb(237, 237, 237) 5%, rgb(223, 223, 223) 100%) rgb(237, 237, 237); 
    border-radius: 6px; 
    border: 1px solid rgb(220, 220, 220); 
    display: inline-block;
    cursor: pointer; 
    color: rgb(119, 119, 119); 
    text-align: center;
    font-family: code;
    width:230px;
    font-size: 15px; 
    font-weight: bold; 
    padding: 6px 24px; 
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    opacity: 0.9;
}

main .laptop_bar {
    background-image: url("./img/header/paint_opacity.png");
    width:400px;
    height:230px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left:20px;
}


main .pim_de_bree {
    /* border: 1px solid red; */
    font-family: code;
    color: #0551ae;
    font-size: 60px;
    text-shadow: 2px 2px 4px #FFFFFF;
}

main .text_on_laptop {
    font-family: code;
    color: white;
    margin-left:70px;
    margin-top:18px;
    font-size: 12px;
    line-height: 16px;
}

.laptop_contain {
    margin: auto;
}

main .some_information {
    margin-top:30px;
    width:100vh;
    display: flex;
    justify-content: center;
}

.center {
    text-align: center;
    margin-bottom:20px;
}

.center2 {
    text-align: center;
    margin-bottom:20px;
    /* border: 1px solid red; */
    margin: auto;
}

.typing_text {
    display: flex;
    /* border: 1px solid red; */
    max-width: 800px;
    max-height: 700px;
}

main .main_content {
    width: 130vh;
    height: 100vh;
    border-radius: 10px;
}

main .info_about_me_small {
    display: flex;
}

main .next_info {
    margin-top:30px;
    background-color: rgba(0, 0, 0, 0.05);
}

main .info_about_me_p {
    padding: 20px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 19px;
}
main .my_head_css {
    border-radius: 50%;
    height: 100px;
    padding: 20px;
}

main .bar {
    background-image: url("./img/header/bar_o.png");
    width:100%;
    height: 40px;
    background-size: cover;
    border-radius: 3%;
    color: white;
    font-family: code;
    display: flex;
}

main .bar p {
    margin:auto;
}

header .navigation ul li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-size: 20px;
}

header .navigation p {
    font-size:10px;
}

header .navigation ul li a:visited {
    list-style-type: none;
}

header .navigation ul li a:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}
