.center_of_page {
    height: 300px;
    background-image: url("./img/header/image_coding.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;
    box-shadow: 0 4px 4px -2px #000000;
    margin-bottom: 60px;
}

.center_of_page_2 {
    height: 300px;
    background-image: url("./img/header/desk_pic_2_opacity.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;
    box-shadow: 0 4px 4px -2px #000000;
    margin-bottom: 60px;
}





.button_container {
    
}

.button_2 {
    font-family: code;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    opacity:0.6;
    background-color: white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.text_container {
   font-family: code;
   text-shadow: 2px 2px 2px #000000;
   font-size: 80px;
   text-align: center;
   color: white;
}

.both_container {
    padding-top:60px;
    width:600px;
    height: 200px;
    margin: 0 auto;
}

.button_container {
    margin-left:200px;
    margin-top:30px;
}

.button_2:hover {
    opacity: 0.7;
}



#top_of_page {
    margin-bottom:30px;
    box-shadow: 0 4px 4px -2px #000000;
}



.middle_with_content {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    font-size: 16px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
}

.middle_with_content ol li {
    margin-left:20px;
    list-style-type: initial;
}


.text_center_motivatie {
    
    text-align: center;
    padding: 15px;  
}

.text_one {
    margin-top:40px;
    flex:1;
    padding:15px;
}

.text_three {
    margin-top:25px;
    flex:1;
    padding:15px;
    display: flex;
    flex-direction: column;
}

.text_three img {
    margin-left:18px;
}

.text_center {
    height:200px;
    flex: 2;
    padding:15px;
    display: flex;  
    
}

.text_center p {
    margin: auto;
}

.img_weight {
    max-width: 150px;
    border-radius: 50%;
    padding:15px;
}

.head_text {
    font-size: 20px;
    font-weight: bold;
}
