main {
    width: 100%;
    height: 100vh;
    /* background-color: green; */
}


main .pim_de_bree {
    /* border: 1px solid red; */
    font-family: code;
    color: #0551ae;
    font-size: 60px;
    text-shadow: 2px 2px 4px #FFFFFF;
}

main {
    /* border: 1px solid red; */
    display: flex;
    max-height: 800px;
    max-width: 1000px;
    flex-direction: row-reverse;
}

main .typewriter {
    /* border: 1px solid red; */
    margin: auto;
    text-align: center;
    flex: 3;
    /* border: 1px solid red; */
}

body {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
}

.hidden_navigation_responsive {
    display: none;
}

.flex {
    /* border: 1px solid red; */
    background-image: url("./img/header/bar_o.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:15px;
    line-height: 25px;
}

.flex ul li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: code;
    padding: 15px;
}

.flex ul li {
    display: inline-block;
}

.my_picture {
    border-radius: 50%;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width:100px; */
    align-self: center;
    opacity: 0.6;
}

.my_picture:hover {
    opacity:0.8;
    transition: opacity 0.5s;
}

.profile_picture {
    /* border: 1px solid red; */
    margin: auto;
    flex:1;
}



@media screen and (max-width: 769px) {
   .navigation {
       display: none;
   }
   
   .hidden_navigation_responsive {
       display: initial;
   }
   body {  
       flex-direction: column;
   }
   main {
       flex-direction: column;
   }
   .my_picture {
       margin-top:30px;
   }


}