body, html {
    padding: 0;
    margin: 0;
}

table, tr, td {
    /* border: solid 1px red; */
    padding: 0;
    margin: 0;
    border-spacing: 0px;
}

.snake {
    background-color: purple;
}

.wall {
    /* padding: 13px; */
    background-color: #0869D8;
}

.block {
    background-color: rgba(0, 0, 0, 0.1);
}

tr, td {
    width:5px;
    height: 5px;
    font-size: 10px;
}